<!DOCTYPE html>
<html>
<head>
    <title>LIVET</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.5, user-scalable=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='LIVET-favicon-96.png') }}" type="image/x-icon">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/LIVET-favicon-16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/LIVET-favicon-32.png">

</head>
<body>
    <div class="container">
        <h1>실시간 번역기<br>LIVET</h1>
        <form method="POST" onsubmit="setLastTranslation();">
            <div class="lang-selector">
                <select name="source">
                    <option value="ko" selected>Korean</option>
                    <option value="en">English</option>
                    <option value="vi">vietnamese</option>
                    <option value="zh-CN">Chinese</option>
                    <option value="ja">Japanese</option>
                </select>
                <span>to</span>
                <select name="language">
                    <option value="en" selected>English</option>
                    <option value="ko">Korean</option>
                    <option value="vi">vietnamese</option>
                    <option value="zh-CN">Chinese</option>
                    <option value="ja">Japanese</option>
                </select>
            </div>
            
            <textarea id="text" name="text" placeholder="Enter your text" rows="10"></textarea>
            <button type="submit" class="translate-button">
                <a>번역하기</a>
            </button>
        </form>
        
        <textarea name="translation" rows="10" readonly>{{ translation }}</textarea>
    </div>
    <script>
        window.onload = function() {
            let textElement = document.getElementById("text");
            let lastTranslation = localStorage.getItem("lastTranslation");
            if (lastTranslation) {
                textElement.placeholder = lastTranslation;
                textElement.value = "";
            }
        }

        function setLastTranslation() {
            let textElement = document.getElementById("text");
            let lastTranslation = textElement.value;
            localStorage.setItem("lastTranslation", lastTranslation);
        }
    </script>
</body>
</html>
